.card
    max-width 60%
    margin-right auto
    margin-left auto
    margin-bottom 12px
    background-color secondary-color
    position relative
    &__body
        padding 12px
        background-color primary-color
        position relative
    &__title
        background-color color-lightgray
        padding 12px
        font-size 28px
        color color-darkgray