html
    background-color: primary-color
    font-size 87.5%

body
    margin 0
    padding 0
    width 100%
    background-color transparent 
    color text-color
    .container
        padding mixin-padding-small(10,8px)
