.btn
    border none
    padding 15px
    width 100%
    font-weight 600
    box-shadow 0 3px 5px 0 rgba(0, 0, 0, .5)
    margin-bottom 13px
    border-radius 7px
    font-size 15px!important
    -webkit-tap-highlight-color transparent
    transition all .2s linear
    outline none
    &:hover
        text-decoration none
        cursor pointer
        transform scale(1.5)
    &:active
        transform scale(1.2)        
    &&--small
        padding 9px